[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-session2 = "*"
pymysql = "*"
python-dotenv = "*"
requests = "*"
gunicorn = "*"
bs4 = "*"
lxml = "*"

[dev-packages]
djlint = "*"

[requires]
python_version = "3.12"
