{
  "OPENAPI_TOKEN": "token",
  "FLASK_SECRET_KEY": "random hex string",
  "MYSQL_USER": "user",
  "MYSQL_PASSWORD": "password",
  "MYSQL_HOST": "host",
  "MYSQL_PORT": 1234,
  "MYSQL_DB": "endless_love_letters"
}
