<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Infinite Love Letters - Favorites</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <script type="module">
      import { createApp } from 'https://unpkg.com/petite-vue?module';

      createApp({
        $delimiters: ['${', '}'],
        favorites: [],
        unfavorited: [],

        async fetchData() {
          const response = await fetch('/api/favorites');
          const data = await response.json();
          this.favorites = data.favorites;
        },

        isFavorite(id) {
          return this.unfavorited.indexOf(id) === -1;
        },

        async toggleFavorite(id) {
          if (this.isFavorite(id)) {
            return this.removeFavorite(id);
          } else {
            return this.addFavorite(id);
          }
        },

        async addFavorite(id) {
          const match = this.favorites.filter((favorite) => favorite.id === id);
          if (match.length == 0) {
            return;
          }
          const favorite = match[0];
          const response = await fetch('/api/favorite', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ letter: favorite.content }),
          });
          const data = await response.json();
          favorite.id = data.id;
        },

        async removeFavorite(id) {
          await fetch('/api/unfavorite', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ id }),
          });
          this.unfavorited.push(id);
        },
      }).mount();
    </script>
  </head>
  <body>
    <div class="container visible" v-cloak v-scope v-effect="fetchData()">
      <div class="frame" v-if="!favorites">
        <div class="spinner-cont" v-else>
          <img
            alt="spinner"
            height="200"
            width="200"
            src="/static/img/spinner.svg"
          />
        </div>
      </div>
      <div class="frame favorites" v-for="favorite of favorites">
        <span
          class="heart"
          :class="{selected: isFavorite(favorite.id)}"
          @click="toggleFavorite(favorite.id)"
        ></span>
        <div class="letter"><pre>${ favorite.content }</pre></div>
      </div>
    </div>
  </body>
</html>
