html,
body {
  margin: 0;
  min-height: 100%;
}

[vcloak] {
  display: none;
}

.container {
  display: none;
}

.container.index {
  height: 100%;
}

.container.visible {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

[v-cloak] {
  display: none;
}

.link-cont {
  padding: 2rem;
  margin: 2rem auto;
  text-align: center;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif
}

.link-cont a,
.link-cont a:visited {
  color: #cf99a2;
  text-decoration: none;
}

.link-cont a:hover {
  color: red;
  text-decoration: underline;
}

.spinner-cont {
  margin-top: 5rem;
  text-align: center;
}

.inner-container {
  width: 60%;
}

@media(max-width: 820px) {
  .inner-container{
    width: 95%;
  }
}

.prompt {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 1rem;
}

.frame {
  background-color: #edc0c8;
  border: 1px solid #000;
  font-size: 1.2rem;
  position: relative;
  margin: 4rem 0;
  min-height: 24rem;
}

.frame.v1,
.frame.favorites {
  width: 60%;
  min-height: auto;
}

.heart {
  display: inline-block;
  font-size: 32px;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
}

.heart.hidden {
  display: none;
}

.heart::before {
  content: '♡';
}

.heart.selected::before {
  content: '❤️';
}

.letter {
  margin: 4rem;
}

.letter pre {
  white-space: pre-wrap;
  font-family: Arial, Helvetica, sans-serif;
}

.favlink {
  width: 50%;
  margin: auto;
  position: absolute;
  bottom: 24px;
  left: 25%;
  text-align: center;
}

select {
  appearance: none;
  font-size: 1.5rem;
  text-align: center;
  background-color: #edc0c8;
  padding: 0 .2rem;
  border-radius: .5rem;
}

button {
  font-size: 1.5rem;
}

.password-form {
  margin-left: 1rem;
}

.password-input, .password-submit {
  display: block;
}

.password-submit {
  margin-top: 1rem;
}

.password-error {
  color: red;
}

.search-input, .search-button {
  font-size: 2rem;
}

.search-prompt {
  text-align: center;
}

.highlight {
  background-color: red;
}
